#about-us{
    margin-top: 4rem;
    h3{
        font-weight: 500;
        font-size: 40px;
        color: #111;
        margin-top: 10px;
        margin-bottom: 35px;
        
    }

    p{
        padding: 0 0 1.5rem;
        color: #444444;
    }
}